@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap');

.cell {
    width: 7vw;
    height: 7vw;
    border: 1px solid #000;
    background-color: rgb(100, 78, 212);
    text-align: center;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
}

.area-style {
    width: 6vw;
    height: 3vw;
    font-size: 2vh;
    font-family: Inter, sans-serif;
    background-color: rgb(100, 78, 212);
    color: #000;
    resize: none;
    
    white-space: normal;
    text-align: center;
    
  

    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;

    text-align:center;
    display: inline-block;  
    padding-top: 40%;
   
    border: 1px solid #000;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    overflow: hidden;
}

@media screen and (max-width: 1300px) {
    .cell {
        width: 11vw;
        height: 11vw;
    }
    .area-style {
        width: 9vw;
        height: 5.5vw;
        font-size: 2vw;
        padding-top: 25%;
    }
    .value-div {
        font-size: 2vw;
    }
}





.value-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(100, 78, 212);
    border-radius: 5px;
    color: #000;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    word-wrap: break-word;
    font-family: Inter, sans-serif;
}

.green {
    background-color: rgb(7, 151, 65);
    /* add a green glow*/
    animation: wobble 5s infinite ease-in-out;
    
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.025);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
    }
    
}

.value-wrapper {
    width:7vw;
    word-wrap: break-word;
}